body{
    font-family: Quicksand,sans-serif!important;
}
#ftd{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}
#Amain{
    width: 90%;
    height: 250px;
    display: flex;
    gap: 60px;
    margin: auto;
    border: 1px solid #cbccd1;
}
#ind1{
    width: 20%;
}
#ind11{
    width: 100%;
    border: 1px solid #cbccd1;
    text-align: center;
}
#cbtn{
    color: #5dc6ad;
    border: none;
}
#ind2{
    width: 40%;
    border: 1px solid #cbccd1;
    text-align: center;
    margin-top: 50px;
}
.pd{
    border: 1px solid #cbccd1;
    padding: 5px;
    margin: auto;
}
#ind3{
    width: 30%;
}
#sbt{
    color: white;
    border: none;
    background-color: #5dc6ad;
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
}